<ion-header [translucent]="true">
  <ion-toolbar text-center>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="gallery-image">
    <div class="img-box">
      <img src="./assets/img1.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Zup</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="./assets/img2.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Cute</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="./assets/img3.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Dark</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="./assets/img4.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Me</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="./assets/img5.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Hidden</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="./assets/img6.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Jov</p>
          <p class="opacity-low">Cinematic</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
        <img src="./assets/img7.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Love</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img8.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Babe</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img9.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Messy</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img10.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Ethereal</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img11.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Beauty</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img12.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Pose</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img13.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Smile</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img14.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Stunning</p>
          </div>
        </div> 
      </div>
      <div class="img-box">
        <img src="./assets/img15.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Jov</p>
            <p class="opacity-low">Classy</p>
          </div>
        </div> 
      </div>
</div>
</ion-content>
