<ion-header [translucent]="true">
  <ion-toolbar text-center>
    <ion-title>
    <h1> Profile </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="cover-photo">
      <img src="./assets/img1.jpg" class="profile">
    </div>
    <div class="profile-name">Jovelyn Umpacan</div>
    <p class="about">DON'T PANIC, IT'S ORGANIC</p>
    <button class="msg-btn">Message</button>
    <button class="follow-btn">Following</button>
    <div>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  
</ion-content>
